<h1><%= @classification.name %></h1>

<ul>
  <% @classification.animals.each do |a| %>
    <li><h2><%= link_to(a.name , classification_animal_path(@classification,a)) %></h2></li>
    <hr>
    <%= image_tag(animal.image_url) %><br/>

    Extinction date:
      <%= animal.extinction_date%><br/>

    A Recent Extinction:
      <%= animal.recent? %>
  <% end %>
</ul>

<p><%= link_to("Back to the list of Classifications", classifications_path) %></p>